.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0 0 24px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px 28px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__content_delete {
  width: 670px;
  height: 280px;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 271px;
  border: 1px rgba(255, 255, 255, 1);
}


.modal__form {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px;
}
.modal__input {
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  width: 440px;
  top: 364px;
  left: 500px;
  align-items: center;
  height: 29px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 8px;
}

.modal__legend {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 8px;
}

.modal__submit {
  margin-top: 24px;
  padding: 8px 16px 8px 16px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 1);
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  border-radius: 4px;
  gap: 8px;
  flex-flow: horizontal nowrap;
  width: 150px;
  height: 36px;
  border-radius: 4px;
}
