.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}
.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  width: 73px;
  height: 24px;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
  padding: 2px 12px 2px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  justify-content: center;
}
.card__image {
  width: 100%;
  cursor: pointer;
}

.cards__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
