.item-modal__content {
  width: 498px;
  min-height: 610px;
  border-radius: 16px;
  margin-top: 106px;
  padding: 0;
  overflow: hidden;
}

.item-modal__image {
  width: 498px;
  height: 498px;
  max-width: 100%;
  object-fit: cover;
}

.item-modal__caption {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0 0 12px 0;
}

.item-modal__weather {
  font-family: "Cabinet Grotesk", sans-serif;
  margin: 0;
}

.item-modal__close--white:hover:after {
  opacity: 0.7;
}

.item-modal__delete-button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgb(255, 77, 0);
  letter-spacing: 0%;
}

.item-modal__cancel-button {
  color: rgb(0, 0, 0);
}

.item-modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
  padding: 20px 32px;
}

.item-modal__divider {
  size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  font-family:
    Cabinet Grotesk,
    sans-serif;
  font-weight: 700;
  font-size: 20px;
}
