.item-modal__content {
  width: 498px;
  height: 610px;
  border-radius: 16px;
  margin-top: 106px;
  padding: 0;
}

.item-modal__image {
  width: 498px;
}

.item-modal__caption {
  padding-left: 8px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.item-modal__weather {
  padding-left: 8px;
  font-family: "Cabinet Grotesk", sans-serif;
}

.item-modal__close--white:hover:after {
  opacity: 0.7;
}
