.sidebar {
  width: 229px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.sidebar__user-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.sidebar__username {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__button {
  display: block;
  width: fit-content;

  border: none;
  background: transparent;
  padding: 0;
  margin-bottom: 8px;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}
