.footer {
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: bottom;
  padding: 8px 16px;
}

.footer__author {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: medium;
}

.footer__year {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: medium;
  margin-left: 1000px;
}
