.clothes-section{
    flex-grow: 1;
    left: 358px;
   
}
.clothes-section__row {
  display: flex;
  
}
.clothes-section__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 283px);
  grid-template-rows: (auto-fit, 283px);
  grid-gap: 20px;
  padding: 0;
  flex-grow: 1;
}
